<div *ngIf="chargementEnCours">
  <app-loader></app-loader>
</div>

<div *ngIf="!chargementEnCours">
  <app-managersidebar></app-managersidebar>


  <section class="overflow-hidden" id="service-sec">
      <div class="container">
          <div class="title-area text-center"><span class="sub-title style2">Nos dépenses</span> <img
                  src="assets/img/theme-img/title_shape_1.svg" alt="">
              <h2 class="sec-title">Liste des dépenses </h2>
          </div>
          <div class="row">
              <div class="col-xl-3">
                  <div class="widget widget_search">
                      <form class="search-form" >
                          <input type="text"  name="keyWords" placeholder="Rechercher">
                          <button type="submit"><i class="far fa-search"></i></button>
                      </form>
                  </div>
                  <div class="widget widget_search"> <button class="th-btn" [routerLink]="['/depensecreate']">Nouveau dépense</button></div>

              </div>
              <div class="col-xl-9">
                  <div class="row">
                      <div class="col-xl-4" *ngFor="let services of donneesAffichees">
                          <div class="price-card wow fadeInLeft">
                              <div class="price-card_content">

                                  <hr class="style1">
                                  <div class="available-list">
                                      <ul>
                                          <li><img src="assets/img/theme-img/title_left.svg" alt=""> <b>{{ services.nom }}</b></li>
                                          <li> <i class="fa-light fa-wallet"></i> {{ getFormattedPrice(services.prix) }} Ar</li>


                                          <li (click)="update(services._id)"><i class="far fa-edit" ></i> Modifier</li>
                                      </ul>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="th-pagination text-center pt-50">
                          <ul>
                              <li *ngFor="let pageNumber of getPageNumbers()">
                                  <a href="javascript:void(0);" (click)="setPage(pageNumber)">{{ pageNumber }}</a>
                              </li>
                          </ul>
                      </div>
                  </div>
          </div>

          </div>
      </div>
  </section>

  <app-footer></app-footer>
</div>
