<footer class="footer-wrapper footer-layout1">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo"><a href="index.html"><img src="assets/img/logo-white.svg"
                                        alt="Rasm"></a></div>
                            <p class="about-text">Les applications centrées sur le produit mettent en œuvre des portails frontaux pour visualiser les résultats et ajoutent de la valeur à travers une interface utilisateur conviviale.</p>
                            <div class="th-social footer-social"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                        class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.net/"><i
                                        class="fa-brands fa-behance"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Liens rapide</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">A propos</a></li>
                                <li><a href="booking.html">Nos services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contact</h3>
                        <div class="th-widget-about">
                            <h4 class="footer-info-title">Téléphone</h4>
                            <p class="footer-info"><i class="fa-sharp fa-solid fa-phone"></i><a class="text-inherit"
                                    href="tel:+256214203215">+256 214 203 215</a></p>
                            <h4 class="footer-info-title">Email</h4>
                            <p class="footer-info"><i class="fas fa-envelope"></i><a class="text-inherit"
                                    href="mailto:info@rasm.com">info@rasm.com</a></p>
                            <h4 class="footer-info-title">Adresse</h4>
                            <p class="footer-info"><i class="fas fa-map-marker-alt"></i>25 Street, 145 City Road New
                                Town DD14, USA</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <div class="newsletter-widget">
                            <p class="md-10">Inscrivez-vous pour recevoir les dernières actualités et mises à jour de Walker. Profitez des offres exclusives directement dans votre boîte de réception en vous inscrivant à notre liste de diffusion.</p>
                            <div class="footer-search-contact mt-25">
                                <form><input class="form-control" type="email" placeholder="Votre email">
                                </form>
                                <div class="footer-btn mt-10"><button type="submit"
                                        class="th-btn style3 fw-btn">Valider <i
                                        class="fa-regular fa-arrow-right"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <p class="copyright-text text-white">Rakotoarisoa Miaingo Diamondra Vanya </p>
                </div>
                <div class="col-lg-4">
                    <p class="copyright-text text-white">Rakotonirina Liantsoa</p>
                </div>
                <div class="col-lg-4">
                    <p class="copyright-text text-white">&copy; m1p11mean-Vanya-Liantsoa</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup" data-top="0%" data-left="0%">
        <img src="assets/img/shape/leaves_2_2" alt="shape">
    </div>
    <div class="shape-mockup d-none d-xl-block" data-bottom="12%" data-right="0%"><img
            src="assets/img/shape/flower_1_5.png" alt="shape"></div>
</footer>
<div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
        style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
    </path>
</svg></div>