
<div class="">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <h4>Confirmation d'inscription</h4>

            <div class="feedback">
                <div *ngIf="valideUrl; else notFound">
                  <p style="color: green;">Email vérifié. Maintenant, veuillez-vous connecter pour bénéficier de nos services en ligne. <i class="fa-sharp fa-regular fa-success"></i> </p>
                  <button class="green_btn" (click)="goToLogin()">Se connecter</button>
                </div>

            </div>

            <ng-template #notFound>
              <p style="color: tomato;">404 not found <i class="fa-sharp fa-regular fa-warning"></i> </p>
            </ng-template>


          </div>
        </div>
  </div>
</div>
