<app-header></app-header>

<section class="overflow-hidden space-bottom">
  <div class="container">
      <div class="row">
          <div class="col-xl-6">
            <br>
            <img src="assets/img/salon.webp" alt="">
          </div>
          <div class="col-xl-6">
              <h4>Authentification</h4>
              <p>Veuillez-vous connecter en entrant votre email et votre mot de passe</p>

             <div class="feedback">
                <div *ngIf="feedBack.message === ''; else error">
                </div>
                <ng-template #error>
                  <p style="color: tomato;">{{ feedBack.message }} <i class="fa-sharp fa-regular fa-warning"></i> </p>
                </ng-template>
             </div>

              <div class="form-group col-md-7">
                <i class="fa-sharp fa-regular fa-envelope"></i>
                <input type="email" class="form-control"[(ngModel)]="user.email" name="email" id="email" placeholder="Email">
              </div>

              <div class="form-group col-md-7">
                <i class="fa-sharp fa-regular fa-eye"></i>
                <input type="password" class="form-control" [(ngModel)]="user.mdp" name="mdp" placeholder="Mot de passe">
              </div>

              <p>Pas encore de compte? <a [routerLink]="['/inscription']"> S'inscrire ici</a></p>

              <div class="form-btn col-7">
                <button class="th-btn fw-btn" (click) = "doLogin()">Se connecter<i class="fa-solid fa-arrow-right ms-2"></i>
                </button>
              </div>
          </div>
        </div>
  </div>
  <div class="shape-mockup jump d-none d-lg-block" data-top="0%" data-left="0%"><img
          src="assets/img/shape/leaves_3.png" alt="shape"></div>
  <div class="shape-mockup jump d-none d-xl-block" data-bottom="15%" data-right="0%"><img
          src="assets/img/shape/leaves_2.png" alt="shape"></div>
</section>

<app-footer></app-footer>
