<div *ngIf="chargementEnCours">
  <app-loader></app-loader>
</div>

<div *ngIf="!chargementEnCours">
    <app-employesidebar></app-employesidebar>
        <div> 
            <div class="row">
                <div class="col-xl-12" >
                    <div class="overflow-hidden">
                        <div class="shape-mockup" data-top="0%" data-left="0%"><img src="assets/img/shape/flower_1_1.png" alt="shape">
                        </div>
                        <div class="shape-mockup d-none d-lg-block" data-bottom="0%" data-right="0%">
                            <img  src="assets/img/shape/flower_1_2.png" alt="shape">
                        </div>
                
                        <div class="container">
                            <div class="shape-mockup d-none d-lg-block" data-bottom="0%" data-left="0%">
                                <img src="assets/img/shape/service_shape2.png" style="position: relative; left: 200px;" alt="shape">
                            </div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="title-area text-center"><span class="sub-title style2">Tâches journalières</span> <img
                                src="assets/img/theme-img/title_shape_1.svg" alt="">

                                <p><b>Veuillez glisser et déposer dans les sections les tâches effectuées. Action réversible.</b></p>
                            </div>
                            
                            <div class="col-xl-3">
                                <div class="widget widget_search">
                                    <form class="search-form">
                                        <input type="date" [(ngModel)]="filterCriteria" name="filterCriteria" (change)="filterRdv()"/>
                                        <button type="submit"><i class="far fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-4" cdkDropList [cdkDropListData]="rdvList" (cdkDropListDropped)="drop($event)">
                              <h5 style="text-align: center; color: grey;">Tâches à faire</h5>
                                <div class="row todo" *ngFor="let rdv of rdvList" cdkDrag [cdkDragData]="rdv">
                                    <div class="col-xl-3" style="text-align: left;">
                                        <img [src] = "rdv.service.image" alt="Chargement..."  style="width: 100px; border-radius: 50%;">
                                        <p><b>{{ rdv.service.nom }}</b></p>
                                    </div>
                                    <div class="col-xl-8">
                                        <p>Client : {{ rdv.client.nom }} {{ rdv.client.prenom }}</p>
                                        <p>Date : {{ getDateFromString(rdv.date) }} de {{ getTimeFromString(rdv.heure_debut) }}h à  {{ getTimeFromString(rdv.heure_fin) }}h</p>
                                        <p>Payé : {{ getFormattedPrice(rdv.service.prix) }} Ar &nbsp; <span style="display: block; background-color: tomato; color: white; padding: 5px; width: 150px;">Pourcentage : {{ rdv.service.commission }} %</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4" style="position: relative; left: 50px;" cdkDropList  [cdkDropListData]="doneRdvList" (cdkDropListDropped)="drop($event)">
                              <h5 style="text-align: center; color: grey;">Tâches effectuées</h5>
                              <div class="row done" *ngFor="let rdv of doneRdvList" cdkDrag [cdkDragData]="rdv">
                                  <div class="col-xl-3" style="text-align: left;">
                                      <img [src] = "rdv.service.image" alt="Chargement..."  style="width: 100px; border-radius: 50%;">
                                      <p><b>{{ rdv.service.nom }}</b></p>
                                  </div>
                                  <div class="col-xl-8">
                                      <p>Client : {{ rdv.client.nom }} {{ rdv.client.prenom }}</p>
                                      <p>Date : {{ getDateFromString(rdv.date) }} de {{ getTimeFromString(rdv.heure_debut) }}h à  {{ getTimeFromString(rdv.heure_fin) }}h</p>
                                      <p>Payé : {{ getFormattedPrice(rdv.service.prix) }} Ar &nbsp; <span style="display: block; background-color:#B6FF00; color: grey; padding: 5px; width: 200px;">Commission : {{ getFormattedPrice(calculCommission(rdv.service.commission, rdv.service.prix)) }} Ar</span> </p>
                                  </div>
                              </div>
                              <br/>
                              <div>
                                  <table class="summ">
                                      <tr>
                                        <td>Montant Total</td>
                                        <td>{{ getFormattedPrice(sommeCommission()) }} Ar</td>
                                      </tr>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <p class="copyright-text text-white">Rakotoarisoa Miaingo Diamondra Vanya </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="copyright-text text-white">Rakotonirina Liantsoa</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="copyright-text text-white">&copy; m1p11mean-Vanya-Liantsoa</p>
                    </div>
                </div>
            </div>
        </div>
</div>