<div class="hero">
  <label for="input-file" id="drop-area" (dragover)="onDragOver($event)"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">
      <input type="file" accept="image/*" id="input-file" hidden (change)="onFileChange($event)">
      <div id="img-view">
          <img src="assets/img/508-icon.png">
          <p>Drag and drop or click here<br>to upload image</p>
          <span>Upload any images from desktop</span>
      </div>
      <button id="confirm-upload" (click) = "doUpdatePic()">Confirm Upload</button>
  </label>
</div>




