<app-header></app-header>

<div>
    <div class="about-sec overflow-hidden bg-smoke space" id="about-sec" style="height: 10px;"> 
        <div class="col-xl-6 wow fadeInLeft" >
            <div class="img-box1">
                <div class="img2"><img src="assets/img/shape/leaves_12.png" alt="About">
                </div>
            </div>
            <div class="col-xl-12" >
                <div class="row">
                    <div class="col-xl-6">
                        <div class="img-box1">
                            <div class="img3"><img src="assets/img/shape/leaves_3.png" alt="About"> </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <h1>Bienvenue</h1>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup" data-top="0%" data-left="0%"><img src="assets/img/shape/flower_1_1.png" alt="shape">
        </div>
        <div class="shape-mockup d-none d-lg-block" data-bottom="0%" data-right="0%"><img
                src="assets/img/shape/flower_1_2.png" alt="shape"></div>
    </div>
    <div class="overflow-hidden">
        <div class="container">
            <div class="sec-shape"><span class="sec-shape_img"><img src="assets/img/icon/girl.svg" alt=""></span><span class="sub-title style2">Nos prestations</span> </div>

            <div class="counter-sec space-top">
                <div class="th-counterup wow fadeInLeft">
                    <div class="inner">
                        <div class="icon"><img src="assets/img/icon/counter_1_1.svg" alt=""></div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="26">00</span> <span
                                    class="counter-number">+</span></h3>
                            <p class="counter-card_text">Years of Experience</p>
                        </div>
                    </div>
                </div>
                <div class="th-counterup wow fadeInLeft">
                    <div class="inner">
                        <div class="icon"><img src="assets/img/icon/counter_1_2.svg" alt=""></div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="100">00</span> <span
                                    class="counter-number">%</span></h3>
                            <p class="counter-card_text">Natural Products</p>
                        </div>
                    </div>
                </div>
                <div class="th-counterup wow fadeInLeft">
                    <div class="inner">
                        <div class="icon"><img src="assets/img/icon/counter_1_3.svg" alt=""></div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="56">00</span> <span
                                    class="counter-number">k+</span></h3>
                            <p class="counter-card_text">Satisfied Clients</p>
                        </div>
                    </div>
                </div>
                <div class="th-counterup wow fadeInLeft">
                    <div class="inner">
                        <div class="icon"><img src="assets/img/icon/counter_1_4.svg" alt=""></div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="36">00</span> <span
                                    class="counter-number">+</span></h3>
                            <p class="counter-card_text">Specialists Team</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec-shape"><span class="sec-shape_img"><img src="assets/img/icon/girl.svg" alt=""></span></div>
        </div>
    </div>
    
 
    <section class="overflow-hidden space-bottom" id="service-sec">
        <div class="container">
            <div class="title-area text-center"><span class="sub-title style2">Nos services</span> <img
                    src="assets/img/theme-img/title_shape_1.svg" alt="">
                <h2 class="sec-title">Choose Your Perfect Package</h2>
            </div>
            <div class="row gy-4 align-items-center">
                <div class="col-xl-3">
                    <div class="price-card wow fadeInLeft">
                        <div class="price-card_content">
                            <img src="assets/img/service/service_1_2.jpg">
                            <hr class="style1">
                            <div class="available-list">
                                <ul>
                                    <li><img src="assets/img/theme-img/title_left.svg" alt="">Body Treatments</li>
                                </ul>
                                <div class="price-btn"><a href="price.html" class="th-btn">Rendez-vous<i
                                            class="fa-solid fa-arrow-right ms-2"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup jump d-none d-lg-block" data-top="0%" data-left="0%"><img
                src="assets/img/shape/leaves_3.png" alt="shape"></div>
        <div class="shape-mockup jump d-none d-xl-block" data-bottom="15%" data-right="0%"><img
                src="assets/img/shape/leaves_2.png" alt="shape"></div>
    </section>
    <div class="appointment-area space" id="contact-sec" data-bg-src="assets/img/bg/appointment_bg_1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 wow fadeInLeft">
                    <div class="img-box1">
                        <div class="img1"><img class="tilt-active" src="assets/img/normal/about_1.jpg" alt="About">
                        </div>
                        <div class="img2"><img class="tilt-active" src="assets/img/normal/about_2.jpg" alt="About">
                        </div>
                        <div class="img3"><img src="assets/img/shape/flower_1_3.png" alt="About"></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xl-4 wow fadeInRight">
                        <div class="title-area mb-25"><span class="sub-title">A propos de nous<img
                                    src="assets/img/theme-img/title_right.svg" alt=""></span>
                            <h2 class="sec-title mb-20">Discover The Ultimate Spa Massage Experience</h2>
                            <p class="mb-30">Discover a world of tranquility, luxury, and personalized care as you
                                embark on a journey of self-care and renewal. Visit us today and let us transport you to
                                a realm of beauty and serenity.</p>
                        </div>
                        <div class="about-wrapper">
                            <div class="about-info">
                                <h3 class="about-info_title h6"><img src="assets/img/theme-img/title_left.svg"
                                        alt="">Personal Program</h3>
                            </div>
                            <div class="about-info">
                                <h3 class="about-info_title h6"><img src="assets/img/theme-img/title_left.svg"
                                        alt="">Expert Nutritionist</h3>
                            </div>
                        </div>
                        <p class="mb-30">We also offer private rooms for more intimate treatments and couples' packages
                            for a romantic escape.</p><a href="about.html" class="th-btn">Discover More<i
                                class="fa-regular fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="sec-shape"><span class="sec-shape_img"><img src="assets/img/icon/girl.svg" alt=""></span></div>

  
</div>

<app-footer></app-footer>